
.container{
  width: 95vw;
  padding: 20px;
  height: 100vh;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav h2{
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

#content {
  width: 80%;
  overflow-x: hidden;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 8px #a5a094;
  height: 200px;
  font-size: 16px;
  padding: 12px;
  font-family: cursive;
  font-weight: 400;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  background: #eee;
  color: #666;
}


body {
  background-color: rgb(18, 148, 199);
  margin: auto;
  width: 100vw;
  justify-content: center;
  align-items: center;
  -webkit-animation: changecolor 10s;
  animation: changecolor 10s;

  overflow: hidden;
}
iframe{
  border-radius: 50%;
}
